{% extends 'layouts/main.html' %}
{% block title %}NutroMonkey{% endblock %}
{% block content %}
<header id="main-header">
    <h1>Nutromonkey</h1>
    <p>
        Your daily nutrition tracker
    </p>
   
</header>
<div class="row">
    <div class="col-md-12">
            <form class="form" method="post" action="/search">
              <input type="text" name="key" placeholder="Search it here" id="key">
              Be in the know of what you your food and drinks contain. This app pulls data from USDA and Wikipedia.
            </form>
    </div>  
</div>

{% endblock %}