{% extends 'layouts/main.html' %}
{% block title %}NutroMonkey{% endblock %}
{% block content %}
<header id="main-header">
    <h1><a href='/' id='big-home-button'>Nutromonkey</a></h1>
    <p>
        Your daily nutrition tracker
    </p>
</header>
<div class="row">
    <div class="col-md-12">
        <form class="form" method="post" action="/search">
          <input type="text" name="key" placeholder="Search it here" id="key">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 wiki-description" {% if not additional_info %} style="display:none;" {% endif %}>
        <h4>Some wiki detials on: {{ item }}</h4>
        <p class="additional-info">{{ additional_info.replace(';', ', ') }}</p>
        <p><a href="#" id='show-more-less'>Show Less</a></p>
    </div>
</div>
    
 <div class="row" {% if not resultdata %} style="display: none;"{% endif %}>
    <div class="col-md-6">
        <h2>So, What do we got in:  {{item}}?</h2>
        <p>
            <em>Nutritional information is based on the data provided by USDA.</em>
        </p>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for nutrient, value in resultdata.items() %}
                        '{{ nutrient }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Nutrition Data Representation',
                    data: {{ value }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
                        'rgba(54, 162, 235, 0.4)',
                        'rgba(255, 206, 86, 0.4)',
                        'rgba(75, 192, 192, 0.4)',
                        'rgba(153, 102, 255, 0.4)',
                        'rgba(255, 200, 64, 0.4)',
                        'rgba(100, 159, 64, 0.4)',
                        'rgba(190, 200, 100, 0.4)',
                        'rgba(80, 159, 200, 0.4)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 0.4)',
                        'rgba(54, 162, 235, 0.4)',
                        'rgba(255, 206, 86, 0.4)',
                        'rgba(75, 192, 192, 0.4)',
                        'rgba(153, 102, 255, 0.4)',
                        'rgba(255, 200, 64, 0.4)',
                        'rgba(100, 159, 64, 0.4)',
                        'rgba(190, 200, 100, 0.4)',
                        'rgba(80, 159, 200, 0.4)'
                    ],
                    borderWidth: 1
                }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
        });
        </script>
     </div>
     <div class="col-md-6">
        <h3 {% if not item %}class="hidden"{% endif %}>Nutrition detials</h3>
        <ul id="nutrients">
        {% for nutrient, value in resultdata.items() %}
            <li><a href="/lookup/{{nutrient | safe}}">{{ nutrient }}</a></li>
        {% endfor %}
        </ul>
        <div class="row">
            <div class="col-md-12">
                <div class="loader">Loading...</div>
                <div id="info-box">
                    <h3 id="info-title"></h3>
                    <p id="info-text"></p>
                </div> 
            </div>
        </div>
    </div>
 </div>

{% endblock %}