{% extends 'layouts/main.html' %}
{% block title %}NutroMonkey{% endblock %}
{% block content %}
<header id="main-header">
    <h1><a href='/' id='big-home-button'>Nutromonkey</a></h1>
    <p>
        Your daily nutrition tracker
    </p>
</header>
<div class="row">
    <div class="col-md-12">
        <form class="form" method="post" action="/search">
          <input type="text" name="key" placeholder="Search it here" id="key">
        </form>
    </div>
</div> 
 <div class="row">
    <div class="col-md-6">
        <h2>So, What do we got in:  {{item}}?</h2>
        <p>
        This Nutritional information is based on the data provided by USDA.
        </p>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for nutrient, value in resultdata.items() %}
                        '{{ nutrient }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: '# of Votes',
                    data: {{ value }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
                        'rgba(54, 162, 235, 0.4)',
                        'rgba(255, 206, 86, 0.4)',
                        'rgba(75, 192, 192, 0.4)',
                        'rgba(153, 102, 255, 0.4)',
                        'rgba(255, 159, 64, 0.4)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
        });
        </script>
     </div>
     <div class="col-md-6">
        <h3 {% if not item %}class="hidden"{% endif %}>Learn more about each nutrient in <em>{{ item }}</em></h3>
        <ul id="nutrients">
        {% for nutrient, value in resultdata.items() %}
            <li><a href="/lookup/{{nutrient | safe}}">{{ nutrient }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="loader">Loading...</div>
            <div id="info-box">
                <h3 id="info-title"></h3>
                <p id="info-text"></p>
            </div> 
        </div>
    </div>
 </div>



 
        
{% endblock %}